#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.d/localhost
*.sublime-*
*.swp
*~
.DS_Store
aptitude/cache
cmus/*-history
cmus/*.pl
cmus/autosave
cmus/cache
gnupg/*.gpg
gnupg/*.kbx
gnupg/*.lock
gnupg/*~
gnupg/.gpg-v21-migrated
gnupg/crls.d/*
gnupg/gpg-agent.env
gnupg/openpgp-revocs.d/*
gnupg/private*
gnupg/private-keys-v1.d/*
gnupg/random*
gnupg/sshcontrol
mercurial/certs/
mutt/cache/*
mutt/certificates
mutt/mailboxes.*
mutt/smime/*
ssh/environment*
ssh/id*
ssh/known_hosts
ssh/master/*
subversion/README.txt
subversion/auth/*
task/task/*.data
vim/dotvim/bundle/*
vim/dotvim/plugged/*
vim/dotvim/.netrwhist
vim/dotvim/autoload/*
vim/dotvim/spell/*
bin/_vpn-bash_completion.sh
systemd/user/default.target.wants/*
